body {
  margin: 0;
  padding: 0;
}
.banner {
  content: '';
  background: url('/assets/images/anastase-maragos.jpg') no-repeat center
    center/cover;
  height: 55vh;
  position: relative;
  opacity: 0.8;
  z-index: -1;
}
.nav {
  margin: auto;
  padding: 10px;
  background: #ec644a;
}
.nav ul {
  list-style: none;
  display: flex;
  margin: auto;
}
.nav ul li a {
  margin: 20px;
  text-decoration: none;
  color: #fff;
}
.about-container {
  display: flex;
}
.aboutus,
h2 {
  width: 100%;
  background: #4a4a4a;
  color: #848484;
  display: flex;
  justify-content: center;
}
.aboutus-content {
  width: 80%;
  margin: auto;
  color: #fff;
}

.carousel {
  width: 100%;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  height: fit-content;
  /* height: 50vh; */
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.staff-gallery {
  width: 416px;
  background: #b1b2b4;
  border: 1px solid black;
}
.our-staff {
  display: flex;
  background: #848484;
  flex-wrap: wrap;
}
.staff-card {
  align-items: center;
  position: relative;
}
.staff-card img {
  width: 350px;
}
.card-item0 {
  width: 300px;
  /* min-width: 270px; */
  flex-grow: 1;
  margin: auto;
  text-align: center;
}
.card-item7 {
  flex-grow: 1;
  background: #848484;
}
.staff-card p {
  position: absolute;
  background: #848484;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 0px;
  opacity: 0.7;
  font-weight: bold;
  bottom: -16px;
}
.train-withus,
h2 {
  width: 100%;
  background: #4a4a4a;
  color: #848484;
  display: flex;
  justify-content: center;
}
.train-withus-content {
  width: 80%;
  margin: auto;
  color: #fff;
}
 